[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work"}
asgiref = "==3.7.2"
asttokens = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work"}
backcall = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work"}
"backports.functools-lru-cache" = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work"}
bottleneck = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work"}
contourpy = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_97c8ctlp86/croots/recipe/contourpy_1663827422071/work"}
cycler = {file = "../../../../private/tmp/build/80754af9/cycler_1637851556182/work"}
debugpy = {file = "../../../ktietz/ci_310/debugpy_1643965577625/work"}
decorator = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work"}
django = "==4.2.7"
executing = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/executing_1667317341051/work"}
fonttools = "==4.25.0"
importlib-metadata = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work"}
ipykernel = {file = "../../../runner/miniforge3/conda-bld/ipykernel_1655369698656/work"}
ipython = {file = "../../../runner/miniforge3/conda-bld/ipython_1685727999785/work"}
jedi = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work"}
jupyter-client = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work"}
jupyter-core = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d1sy1hlz9t/croot/jupyter_core_1679906585151/work"}
kiwisolver = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_93o8te804v/croot/kiwisolver_1672387163224/work"}
matplotlib = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_05rfi32zzb/croot/matplotlib-suite_1679593473526/work"}
matplotlib-inline = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work"}
munkres = "==1.1.4"
nest-asyncio = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work"}
numexpr = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76yyu1p9jk/croot/numexpr_1683221830860/work"}
numpy = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07nxtsrh3m/croot/numpy_and_numpy_base_1687466221183/work"}
packaging = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e946luvhc3/croot/packaging_1678965323926/work"}
pandas = "==1.5.3"
parso = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/parso_1638334955874/work"}
pexpect = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work"}
pickleshare = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work"}
pillow = "==9.4.0"
platformdirs = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/platformdirs_1689538620473/work"}
prompt-toolkit = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work"}
psutil = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work"}
ptyprocess = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl"}
pure-eval = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work"}
pygments = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work"}
pyparsing = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_3b_3vxnd07/croots/recipe/pyparsing_1661452540919/work"}
python-dateutil = {file = "../../../../private/tmp/build/80754af9/python-dateutil_1626374649649/work"}
pytz = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c56ru3yml9/croot/pytz_1671697451306/work"}
pyzmq = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_23n9bfwjq5/croot/pyzmq_1686601381911/work"}
seaborn = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2ci8qzbdyk/croot/seaborn_1673479197351/work"}
six = {file = "../../../../private/tmp/build/80754af9/six_1644875935023/work"}
sqlparse = "==0.4.4"
stack-data = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work"}
tornado = {file = "../../../../private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a61b4xoie9/croots/recipe/tornado_1662061692951/work"}
traitlets = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work"}
typing-extensions = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work"}
wcwidth = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work"}
zipp = {file = "../../../../System/Volumes/Data/home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work"}

[dev-packages]

[requires]
python_version = "3.10"
